@inject NavigationManager NavigationManager

<div id="nav-wrapper">
    <a class="nav-item" href="https://localhost:7003/dashboard">Dashboard</a>
    <a class="nav-item" href="https://localhost:7003/stock/GME">GME</a>
    <a class="nav-item" href="https://localhost:7003/stock/MSFT">MSFT</a>
    <a class="nav-item" href="https://localhost:7003/stock/TSLA">TSLA</a>
</div>
