@inject NavigationManager NavigationManager

<div class="flex items-center justify-center bg-gray-900 w-screen h-12 text-white" id="nav-wrapper">
    <a class="flex items-center justify-center w-32 h-full text-s font-bold no-underline" href="https://localhost:7003/dashboard">Dashboard</a>
    <a class="flex items-center justify-center w-32 h-full text-s font-bold no-underline" href="https://localhost:7003/search">Search</a>
</div>
