@using StockSim.Frontend.Models
@using StockSim.Frontend.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inject ITokenService TokenService
@inject IStockService StockService

<div>
    <EditForm Model="@stock" OnValidSubmit="Valid" OnInvalidSubmit="Invalid" class="sell-form">
        <DataAnnotationsValidator />
        <div class="sell-input-number">
            <InputNumber class="sell-input" id="quantity" @bind-Value="_quantity" required />
        </div>
        <input id="sell-submit" type="submit" value="SELL" />
        <ValidationMessage id="sell-validation-message" For="() => stock.Quantity" />
    </EditForm>
</div>

<style>
    .sell-form {
        margin-top: 1%;
        display: flex;
        align-items: center;
        width: 50vw;
        height: 3vh;
    }

    .sell-input {
        box-sizing: border-box;
        border-radius: 16px 16px;
        border: none;
        outline: none;
        width: 20vw;
        height: 3vh;
        background-color: var(--accent-colour-3);
        padding-left: 0.5vw;
        font-size: 0.5vw;
        color: var(--main-font-colour);
        caret-color: var(--main-font-colour);
    }
    
    .sell-input:focus::placeholder {
        color: transparent;
    }

    #sell-validation-message {
        margin-left: 1%;
    }
</style>