@page "/"
@using StockSim.Frontend.Components
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

Proper page coming soon maybe

<button @onclick=RedirectToLogin>Login Page</button>
<button @onclick=RedirectToDashboard>Dashboard</button>